@{
    ViewBag.Title = "Đăng nhập thất bại";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Không đăng nhập được</h3>
</hgroup>
