@{
    ViewBag.Title = "Đã xác nhận email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cảm ơn đã xác nhận, hãy @Html.ActionLink("Nhấn vào đâu để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
